venv/
env/
*.pyc

__pycache__/
*.pyc
*.pyo
*.pyd
__pycache__/
*.pyc

staticfiles/
media/

local_settings.py
*.secret

**/migrations/*.py
**/migrations/*.pyc

.vscode/
.idea/
*.iml
*.pyc
*.pyo
.pytest_cache/

*.log
*.pot
*.pyc
