$color-bg-light: #ffffff;
$color-text-light: black;
$color-link-light: #ffffff;
$color-navbar-light: #4f4f4f;

$color-bg-dark: #333333;
$color-text-dark: white;
$color-link-dark: #c9d5fc;
$color-navbar-dark: #292929;
