@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&family=Rubik:wght@700&display=swap');
@import "themes";
@import "variables";

html,
body {
  margin: 0;
  padding: 0;
  transition: all .2s;
  @include g_theme() {
    color: theme-get('text-color');
    background-color: theme-get('bg-color');
  }

  a, p {
    font-family: 'Nunito', sans-serif;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Rubik', sans-serif;
  }
}
