@import "variables";
@import "themes";

.container {
  position: sticky;
  height: 50px;
  display: flex;
  padding: 0 15px;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.2s;
  @include theme() {
    background-color: theme-get('nav-color');
  }

  .navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;

    .link {
      @include theme() {
        color: theme-get('link-color');
      }
      text-decoration: none;
      font-size: 24px;
      transition: color 0.2s;
      &:hover {
        color: #94aafa;
      }
    }
  }
}
